{% extends 'base.html' %}
{% block content %}
<div class="container">

      <h2>Beers {{g.user.username}} wants to try</h2>
      <div class="container-fluid">
        <div class="row">
          {% for beer in beers %}
            <div class="col-sm-6 col-xl-4 my-1">
              <div class="card">
                <div class="card-text">
                  <p><a href="/beer/{{beer.id}}">{{beer.name}}</a></p>
                </div>
                {% if beer.labels %}
                <img src = "{{beer.labels.medium}}" class="card-img-top" style="width: 18rem" alt="{{beer.name}} photo">
                {% endif %}

                <div class="card-body">
                    <p>{{beer.description}}</p>
                    <p>ABV: {{beer.abv}}</p>
                    <a href="/beer/tried/{{beer.id}}">
                        <i class="far fa-check-square 
                        {{'text-success' if beer.id in tried_beer_ids else 'text-secondary'}}"></i>
                    </a>
                    <a href="/beer/liked/{{beer.id}}">
                        <i class="far fa-thumbs-up 
                        {{'text-success' if beer.id in liked_beer_ids else 'text-secondary'}}"></i>
                    </a>
                    <a href="/beer/wished/{{beer.id}}">
                        <i class="far fa-flag 
                        {{'text-warning' if beer.id in wished_beer_ids else 'text-secondary'}}"></i>
                    </a>
                    <a href="/beer/review/{{beer.id}}"><i class="far fa-comment"></i>
                    </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

  </div>

{% endblock %}
