{% extends 'base.html' %}
{% block content %}
<div class="container">

      <h2>{{user.username}}'s reviews</h2>
      <div class="container-fluid">
        <div class="row">
          {% for review in user_reviews %}
            <div class="col-sm-6 col-xl-4 my-1">
              <div class="card">
                <div class="card-text">
                  <p class="card-title"><a href="/beer/{{review.beer_id}}">{{review.beer_name}}</a></p>
                </div>

                <div class="card-body">
                  <p>Rating: {{review.rating}}</p>
                  <p>{{review.text}}</p>
                  {% if g.user.id == user.id %}
                  <div class="d-inline-flex">
                    <form method = "post" action="/user/reviews/{{review.id}}/edit">
                      <button><i class ="fas fa-edit text-dark"></i></button>
                    </form>
                    <form method = "post" action="/user/reviews/{{review.id}}/delete">
                      <button  ><i class ="far fa-trash-alt text-danger"></i></button>
                    </form>
                  </div>
                  {% endif %}
                </div>

              </div>
            </div>
          {% endfor %}
        </div>
      </div>

  </div>

{% endblock %}
